#message
{
    width: 50px;
    margin-top: 30px; 
}

body
{
background-image: linear-gradient(to right top, pink, rgb(194, 111, 194), skyblue,#fac3c7 );
}

html, body
{
  height: 100%;
  margin: 0;
}


h1
{
    font-family: 'Dancing Script', cursive;
    color: antiquewhite;
}

#logout
{
	font-size: 20px; float: right;
}